html {
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%; }

*,
*::before,
*::after {
  box-sizing: inherit; }

* {
  margin: 0;
  padding: 0;
  outline: none; }

audio, canvas, video, progress, iframe {
  display: block;
  vertical-align: baseline; }

fieldset, iframe, img {
  border: 0; }

embed, object, audio, img, video {
  max-width: 100%;
  height: auto; }

button,
[type="submit"] {
  -webkit-appearance: button; }

[type="radio"],
[type="checkbox"] {
  vertical-align: middle;
  position: relative;
  bottom: 0.15em;
  margin-right: 2px; }

input[type="search"] {
  -webkit-appearance: none;
  border-radius: 0; }

::-moz-focus-inner {
  border: none;
  padding: 0; }

html {
  font-size: 4px; }

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #31363a; }

h1 + *, h2 + *, h3 + *, h4 + *, h5 + *, h6 + * {
  margin-top: 3rem; }

p + h2, ul + h2, ol + h2, blockquote + h2, figure + h2, pre + h2, table + h2, dl + h2, address + h2 {
  margin-top: 6rem; }

p + h3, ul + h3, ol + h3, blockquote + h3, figure + h3, pre + h3, table + h3, dl + h3, address + h3 {
  margin-top: 6rem; }

p + h4, ul + h4, ol + h4, blockquote + h4, figure + h4, pre + h4, table + h4, dl + h4, address + h4 {
  margin-top: 6rem; }

p + h5, ul + h5, ol + h5, blockquote + h5, figure + h5, pre + h5, table + h5, dl + h5, address + h5 {
  margin-top: 6rem; }

p + h6, ul + h6, ol + h6, blockquote + h6, figure + h6, pre + h6, table + h6, dl + h6, address + h6 {
  margin-top: 6rem; }

p + *, ul + *, ol + *, blockquote + *, figure + *, pre + *, table + *, dl + *, address + * {
  margin-top: 4rem; }

h1 + h2 {
  margin-top: 6rem; }

h2 + h3 {
  margin-top: 6rem; }

h3 + h4 {
  margin-top: 6rem; }

h4 + h5 {
  margin-top: 6rem; }

h5 + h6 {
  margin-top: 6rem; }

a {
  color: #1740b4; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: inherit;
  font-weight: bold;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #0d1317;
  text-rendering: optimizeLegibility;
  letter-spacing: -0.01em; }
  h1 a,
  h2 a,
  h3 a,
  h4 a,
  h5 a,
  h6 a {
    color: inherit;
    text-decoration: none; }
  h1 a:hover,
  h2 a:hover,
  h3 a:hover,
  h4 a:hover,
  h5 a:hover,
  h6 a:hover {
    transition: all 0.2s linear;
    color: inherit;
    opacity: 0.8;
    text-decoration: underline; }

h1 {
  font-size: 40px;
  line-height: 1.2; }

h2 {
  font-size: 24px;
  line-height: 1.3; }

h3 {
  font-size: 21px;
  line-height: 1.5; }

ul,
ol {
  margin-left: 20px; }

li li {
  font-size: 1em; }

nav ul,
nav ol {
  margin-left: 0;
  list-style: none; }

dt {
  font-weight: bold; }

dd + dt {
  margin-top: 0.25em; }

pre {
  overflow: auto;
  white-space: pre;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 90%;
  line-height: 1.5;
  color: #31363a;
  background-color: #f6f6f6;
  padding: 1em;
  border: 1px solid transparent;
  border-radius: 2px; }

pre code {
  padding: 0;
  border: 0;
  background: none;
  font-size: 100%;
  display: block;
  line-height: inherit; }

blockquote {
  color: #31363a;
  font-style: italic;
  font-weight: normal;
  padding: 0;
  background: transparent; }
  blockquote p {
    color: #31363a;
    font-size: 100%;
    line-height: 1.5; }
  blockquote p + p {
    margin-top: 0.5em; }

blockquote cite,
figcaption cite {
  font-style: inherit;
  font-size: 14px;
  line-height: 1.5;
  color: rgba(49, 54, 58, 0.7); }

caption {
  text-align: left;
  font-style: normal; }

table {
  border-collapse: collapse;
  border-spacing: 0;
  width: 100%;
  empty-cells: show; }

td,
th {
  text-align: left;
  vertical-align: top;
  font-size: 95%;
  line-height: 1.5;
  padding: 0.75em 0;
  border-bottom: 1px solid rgba(207, 208, 209, 0.4); }

th {
  font-weight: normal; }

thead th {
  font-weight: bold; }

address {
  font-style: normal; }

dfn,
abbr {
  font-size: 95%; }

time,
cite,
small,
var,
samp,
kbd,
code {
  font-size: 85%; }

sup,
sub {
  font-size: 65%; }

var,
code,
kbd,
samp {
  display: inline-block;
  font-family: SFMono-Regular, Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-style: normal;
  line-height: 1;
  color: rgba(13, 19, 23, 0.85);
  vertical-align: baseline; }

samp,
kbd,
code {
  border-radius: 2px; }

kbd {
  border: 1px solid rgba(13, 19, 23, 0.15);
  padding: .2em .4em; }

code {
  border: 1px solid transparent;
  background-color: #f6f6f6;
  padding: .2em .4em; }

mark {
  background-color: yellow;
  color: black; }

b,
strong {
  font-weight: 600; }

dfn[title],
abbr[title] {
  letter-spacing: .01em;
  text-transform: uppercase;
  text-decoration: none;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.4);
  cursor: help; }

cite {
  font-style: italic; }

sub,
sup {
  line-height: 1;
  margin-left: 2px; }

sub {
  vertical-align: sub; }

sup {
  vertical-align: super; }

label {
  display: block;
  font-size: 16px;
  margin-bottom: 0.15em; }
  label.checkbox,
  label .hint,
  label .success,
  label .error {
    text-transform: none;
    font-weight: normal; }
  label.checkbox {
    cursor: pointer;
    color: inherit;
    font-size: 100%; }

figure > img,
figure > iframe,
figure > pre,
figure > div {
  vertical-align: middle; }

figure figcaption {
  display: block;
  font-style: normal;
  margin-top: 0.25em;
  font-size: 12px;
  line-height: 1.5; }

hr {
  position: relative;
  line-height: 1;
  background: none;
  border: none;
  text-align: left;
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 10px; }
  hr:before {
    content: '';
    position: absolute;
    top: 50%; }
  hr:before {
    width: 100%;
    max-width: 100%;
    margin-top: -0.5px;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: rgba(207, 208, 209, 0.6); }

button,
a.button,
.button {
  -webkit-appearance: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  vertical-align: middle;
  text-align: center;
  font-family: inherit;
  white-space: nowrap;
  cursor: pointer;
  border: none;
  background: none;
  box-shadow: none;
  text-decoration: none;
  line-height: 1.25;
  font-size: 16px;
  font-weight: normal;
  color: #31363a;
  padding: 0.4em 24px;
  height: 40px;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff; }

.button [class^='fa-'] + span,
.button [class*=' fa-'] + span,
.button [class^='icon-'] + span,
.button [class*=' icon-'] + span {
  margin-left: 4px; }

.button span + [class^='fa-'],
.button span + [class*=' fa-'],
.button span + [class^='icon-'],
.button span + [class*=' icon-'] {
  margin-left: 4px;
  margin-right: -2px; }

.button:hover, .button:focus {
  outline: none;
  text-decoration: none; }

.button:disabled {
  cursor: default;
  opacity: 0.5; }

.button {
  font-weight: normal;
  text-transform: none;
  color: #31363a;
  border: 1px solid #cfd0d1;
  background-color: #ffffff;
  background-image: none; }
  .button:hover {
    color: #31363a;
    border: 1px solid #cfd0d1;
    background-color: #f6f6f6;
    background-image: none; }
  .button:disabled {
    color: #31363a;
    border: 1px solid #cfd0d1;
    background-color: #ffffff;
    background-image: none; }

.button.button-primary {
  font-weight: normal;
  text-transform: none;
  color: #f1f9f5;
  border: 1px solid transparent;
  background-color: #1a4cdc;
  background-image: none; }
  .button.button-primary:hover {
    color: #f1f9f5;
    border: 1px solid transparent;
    background-color: #1740b4;
    background-image: none; }
  .button.button-primary:disabled {
    color: rgba(241, 249, 245, 0.75);
    border: 1px solid transparent;
    background-color: #112452;
    background-image: none;
    opacity: 0.4; }

.button {
  font-size: 16px;
  border-radius: 4px;
  padding: 0.4em 24px;
  height: 40px; }

::placeholder {
  color: rgba(13, 19, 23, 0.4);
  opacity: 1; }

:-ms-input-placeholder {
  color: rgba(13, 19, 23, 0.4); }

::-ms-input-placeholder {
  color: rgba(13, 19, 23, 0.4); }

input,
textarea,
select {
  display: block;
  width: 100%;
  font-family: inherit;
  vertical-align: middle;
  font-weight: normal; }
  input:disabled,
  textarea:disabled,
  select:disabled {
    resize: none;
    opacity: 0.6;
    cursor: default; }

input, textarea, select {
  color: #31363a;
  border: 1px solid #cfd0d1;
  background-color: #ffffff;
  box-shadow: none; }
  input:focus, textarea:focus, select:focus {
    border-color: rgba(26, 76, 220, 0.5);
    box-shadow: 0 0 2px rgba(26, 76, 220, 0.3); }

input, textarea, select {
  font-size: 16px;
  line-height: 1.5;
  border-radius: 2px;
  padding: 0.3em 0.5em;
  height: 40px; }

textarea {
  resize: vertical;
  height: auto;
  vertical-align: top; }

select {
  -webkit-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg height="10" viewBox="0 0 9 10" width="9" xmlns="http://www.w3.org/2000/svg"><path fill="rgba(0, 0, 0, .6)" d="m3.27162899.66658308.8-.70211699 4 3.51058495-.8.70211699-3.2-2.80846796-3.2 2.80846796-.8-.70211699zm0 8.59576602-3.2-2.80846795.8-.70211699 3.2 2.80846796 3.2-2.80846796.8.70211699-4 3.51058494z" /></svg>');
  background-repeat: no-repeat;
  background-position: right 0.65em center;
  padding-right: 28px; }

select[multiple] {
  background-image: none;
  height: auto; }

input[type="file"] {
  width: auto;
  border: none;
  padding: 0;
  height: auto;
  background: none;
  box-shadow: none;
  display: inline-block; }

input[type="radio"],
input[type="checkbox"] {
  display: inline-block;
  width: auto;
  height: auto;
  box-shadow: none;
  padding: 0; }

.text-nowrap,
.text-nowrap td,
.text-nowrap th {
  white-space: nowrap; }

.text-icon {
  display: inline-block;
  width: auto;
  height: 1em;
  vertical-align: middle;
  margin-top: -.2em; }

.form-checkboxes label.checkbox {
  display: inline-block;
  margin-bottom: 0; }
  .form-checkboxes label.checkbox + label.checkbox {
    margin-left: 1em; }

.list-inline {
  list-style: none;
  margin-left: 0; }
  .list-inline li {
    display: inline;
    white-space: nowrap;
    margin-right: 0.25em; }

.list-unstyled {
  margin-left: 0;
  list-style: none; }

.table-scrollable {
  display: block;
  overflow-x: auto;
  white-space: nowrap; }

.embed-responsive {
  position: relative;
  padding: 0;
  margin: 0;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0; }
  .embed-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }

.grid {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 8rem;
  grid-row-gap: 6rem; }

.grid + .grid {
  margin-top: 6rem; }

.grid-gutterless {
  grid-column-gap: 0; }

.grid-gapless {
  grid-row-gap: 0; }
  .grid-gapless + .grid {
    margin-top: 0; }

.grid-auto {
  grid-template-columns: repeat(auto-fit, minmax(0px, 1fr)); }

.column-1 {
  grid-column: span 1; }

.column-2 {
  grid-column: span 2; }

.column-3 {
  grid-column: span 3; }

.column-4 {
  grid-column: span 4; }

.column-5 {
  grid-column: span 5; }

.column-6 {
  grid-column: span 6; }

.column-7 {
  grid-column: span 7; }

.column-8 {
  grid-column: span 8; }

.column-9 {
  grid-column: span 9; }

.column-10 {
  grid-column: span 10; }

.column-11 {
  grid-column: span 11; }

.column-12 {
  grid-column: span 12; }

@media only screen and (max-width: 1023px) {
  .grid-1-md {
    grid-template-columns: repeat(1, 1fr); }
  .grid-2-md {
    grid-template-columns: repeat(2, 1fr); }
  .grid-3-md {
    grid-template-columns: repeat(3, 1fr); }
  .grid-4-md {
    grid-template-columns: repeat(4, 1fr); }
  .grid-5-md {
    grid-template-columns: repeat(5, 1fr); }
  .grid-6-md {
    grid-template-columns: repeat(6, 1fr); }
  .grid-7-md {
    grid-template-columns: repeat(7, 1fr); }
  .grid-8-md {
    grid-template-columns: repeat(8, 1fr); }
  .grid-9-md {
    grid-template-columns: repeat(9, 1fr); }
  .grid-10-md {
    grid-template-columns: repeat(10, 1fr); }
  .grid-11-md {
    grid-template-columns: repeat(11, 1fr); }
  .grid-12-md {
    grid-template-columns: repeat(12, 1fr); }
  .column-1-md {
    grid-column: span 1; }
  .column-2-md {
    grid-column: span 2; }
  .column-3-md {
    grid-column: span 3; }
  .column-4-md {
    grid-column: span 4; }
  .column-5-md {
    grid-column: span 5; }
  .column-6-md {
    grid-column: span 6; }
  .column-7-md {
    grid-column: span 7; }
  .column-8-md {
    grid-column: span 8; }
  .column-9-md {
    grid-column: span 9; }
  .column-10-md {
    grid-column: span 10; }
  .column-11-md {
    grid-column: span 11; }
  .column-12-md {
    grid-column: span 12; } }

@media only screen and (max-width: 767px) {
  .grid,
  .grid-auto {
    grid-template-columns: repeat(1, 1fr); }
  .column {
    grid-column: span 1; }
  .column:empty {
    display: none; }
  .grid-1-sm {
    grid-template-columns: repeat(1, 1fr); }
  .grid-2-sm {
    grid-template-columns: repeat(2, 1fr); }
  .grid-3-sm {
    grid-template-columns: repeat(3, 1fr); }
  .grid-4-sm {
    grid-template-columns: repeat(4, 1fr); }
  .grid-5-sm {
    grid-template-columns: repeat(5, 1fr); }
  .grid-6-sm {
    grid-template-columns: repeat(6, 1fr); }
  .grid-7-sm {
    grid-template-columns: repeat(7, 1fr); }
  .grid-8-sm {
    grid-template-columns: repeat(8, 1fr); }
  .grid-9-sm {
    grid-template-columns: repeat(9, 1fr); }
  .grid-10-sm {
    grid-template-columns: repeat(10, 1fr); }
  .grid-11-sm {
    grid-template-columns: repeat(11, 1fr); }
  .grid-12-sm {
    grid-template-columns: repeat(12, 1fr); }
  .column-1-sm {
    grid-column: span 1; }
  .column-2-sm {
    grid-column: span 2; }
  .column-3-sm {
    grid-column: span 3; }
  .column-4-sm {
    grid-column: span 4; }
  .column-5-sm {
    grid-column: span 5; }
  .column-6-sm {
    grid-column: span 6; }
  .column-7-sm {
    grid-column: span 7; }
  .column-8-sm {
    grid-column: span 8; }
  .column-9-sm {
    grid-column: span 9; }
  .column-10-sm {
    grid-column: span 10; }
  .column-11-sm {
    grid-column: span 11; }
  .column-12-sm {
    grid-column: span 12; } }

@media all and (-ms-high-contrast: none) {
  display: flex;
  margin-left: -8rem;
  .column {
    flex: 1;
    margin-left: 8rem;
    margin-bottom: 6rem; } }

@media all and (-ms-high-contrast: none) and (max-width: 767px) {
  display: block;
  margin-left: 0;
  .column {
    margin-left: 0; } }

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background-color: #ffffff; }

.entry {
  margin: 0;
  padding: 24px;
  background-color: #ffffff; }

div + p,
div + blockquote,
div + table,
div + ul,
div + ol,
div + dl,
div + pre,
div + pre,
div + h1,
div + h2,
div + h3,
div + h4,
div + h5,
div + h6,
div + figure {
  margin-top: 5rem; }

ul[dir="rtl"],
ul[dir="rtl"] ul,
ul[dir="rtl"] ol,
ol[dir="rtl"],
ol[dir="rtl"] ul,
ol[dir="rtl"] ol {
  margin-left: 0;
  margin-right: 20px; }

ul[dir="rtl"] li,
ol[dir="rtl"] li {
  text-align: right; }

.card {
  background-color: #f6f6f6;
  padding: 6rem;
  border-radius: 2px; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }
  .align-center img {
    margin-left: auto;
    margin-right: auto; }
  .align-center figcaption {
    text-align: center; }

.align-right {
  text-align: right; }
  .align-right img {
    margin-left: auto; }
  .align-right figcaption {
    text-align: right; }

.align-justify {
  text-align: justify; }

.valign-top {
  align-items: start; }

.valign-middle {
  align-items: center; }

.valign-bottom {
  align-items: end; }

.outset-right {
  position: relative;
  width: calc(100% + 24px);
  max-width: calc(100% + 24px);
  transform: translateX(24px) translate3d(0, 0, 0);
  left: calc(24px * -1); }

.outset-left {
  width: calc(100% + 24px);
  max-width: calc(100% + 24px);
  transform: translateX(calc(24px * -1)) translate3d(0, 0, 0); }

.outset-both {
  position: relative;
  width: calc(100% + 24px + 24px);
  max-width: calc(100% + 24px + 24px);
  transform: translateX(-50%) translate3d(0, 0, 0);
  left: 50%; }

html.noscroll,
html.noscroll body {
  overflow: hidden !important;
  height: 100% !important; }

.noscroll-x {
  overflow-x: hidden; }

.hidden {
  display: none; }

.visible {
  display: block !important; }

.visible-lg,
.visible-md,
.visible-sm {
  display: none; }

@media only screen and (min-width: 1442px) {
  .visible-lg {
    display: block; }
  .hidden-lg {
    display: none; } }

@media only screen and (max-width: 1023px) {
  .visible-md {
    display: block; }
  .hidden-md {
    display: none; } }

@media only screen and (max-width: 767px) {
  .visible-sm {
    display: block; }
  .hidden-sm {
    display: none; } }

.width-20 {
  width: 20%;
  min-width: 20%;
  max-width: 20%; }

.width-25 {
  width: 25%;
  min-width: 25%;
  max-width: 25%; }

.width-33 {
  width: 33%;
  min-width: 33%;
  max-width: 33%; }

.width-40 {
  width: 40%;
  min-width: 40%;
  max-width: 40%; }

.width-50 {
  width: 50%;
  min-width: 50%;
  max-width: 50%; }

.width-60 {
  width: 60%;
  min-width: 60%;
  max-width: 60%; }

.width-67 {
  width: 67%;
  min-width: 67%;
  max-width: 67%; }

.width-75 {
  width: 75%;
  min-width: 75%;
  max-width: 75%; }

.width-80 {
  width: 80%;
  min-width: 80%;
  max-width: 80%; }

.width-100 {
  width: 100%;
  min-width: 100%;
  max-width: 100%; }

@media only screen and (max-width: 1023px) {
  .width-100-md {
    width: 100%;
    min-width: 100%;
    max-width: 100%; } }

@media only screen and (max-width: 767px) {
  .width-100-sm {
    width: 100%;
    min-width: 100%;
    max-width: 100%; } }
